body {
    background-color: #0A272F;
    width: 350px;
    color: white;
    border-radius: 200px;
    padding: 10px;
}

.popup-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.popup-header img {
    width: 60px;
    height: 60px;
}

.popup-header h1 {
    font-weight: normal;
    font-family: "Gluten", cursive;
}

.popup-infos div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popup-percentage {
    font-size: 1.25rem;
}

.popup-percentage span {
    font-size: 2rem;
    color: #48DC68;
}

.popup-words {
    background-color: #082027;
    margin: 0;
    border-radius: 10px;
}

.popup-words ul {
    margin: 6px 0;
    font-size: 1rem;
    text-transform: capitalize;
    max-height: 140px;
    overflow-y: auto;
    width: 80%;
}

/* width */
.popup-words ul::-webkit-scrollbar {
    width: 6px;
}

/* Track */
.popup-words ul::-webkit-scrollbar-track {
    background: #05151a;
    border-radius: 4px;
}

/* Handle */
.popup-words ul::-webkit-scrollbar-thumb {
    background: #19637a;
    border-radius: 4px;
}

/* Handle on hover */
.popup-words ul::-webkit-scrollbar-thumb:hover {
    background: #103e4b;
    cursor: pointer;
}

.popup-carbon {
    font-size: 0.85rem;
    padding-top: 20px;
}

.popup-carbon span {
    color: #48DC68;
}

.score,
.carbon {
    display: block;
    text-align: center;
}

.warning {
    text-align: center;
}

button.aboutButton {
    border-radius: 6px;
    outline: #48DC68 solid 1px;
    border: none;
    background-color: #0A272F;
    padding: 6px 12px;
    color: white;
    transition: 0.3s backgroundcolor, 0.3s color;
    inset: 0;
    margin: 0 auto;
    display: block;
}

button.aboutButton:hover {
    cursor: pointer;
    background-color: #082027;
    color: #48DC68;
}

.words {
    max-width: 80%;
    min-width: 60%;
    width: auto;
    inset: 0;
    margin: 0 auto;
    padding-top: 10px;
}

.words h2 {
    text-align: center;
}